<!DOCTYPE html>
<html>
<head>
	<title>Integrantes del Grupo</title>
</head>

<body>
	<div>
		<button><a href="{% url 'index'%}">Regresar al index</a></button>
		<button><a href="{% url 'pestaña' %}">Ver los miembros del cuerpo docente</a></button>
	</div>
	<h2> Lista de integrantes del grupo 10</h2>
	<div>
		<table>
			<tr>
				<td>1</td>
				<td>Carolina Paz Salgado Parraguez</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Franco Giovanni Sanguineti Cortés</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Valentina Piedad Sepúlveda Silva</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Jazmín Ester Silva Pino</td>
			</tr>
		</table>
	</div>
</body>
</html>